body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9F8FC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  height: 30px;
  width: 30px;
  background-color: #bee5fa;
}

.board {
  text-align: center;
  margin: 30px;
  margin-bottom: 20%;
}

.Status {
  font-family: "Sailec-Bold",system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 800;
  color: #031b4e;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.2;
  word-break: break-word;
  margin: 30px;
  margin-bottom: 20%;
  text-align: center;
}

.reset{
  text-align: center;
  margin: 30px;
}

.b_reset{
  background: dodgerblue;
  border-radius: 6px;
  height: 30px;
  color: white;
  font-weight: 900;
}
